.logo 
{
    float:left;
    height:15%;
    width:15%;
}
.logo img
{   
      
    height:180%;
    width:100%;
}
.slider img
{
    margin-top:1%;
    height:60%;
    width:100%;
}
.con
{
    float:left;
    width:84.6%;
    font-size:25px;
}
.con h1
{
    margin-left: 10.5%;
    margin-top: 4%;
}
.menu
{
    background-color:black;
    height:10%;
    margin-top:3.5%;
}
.menu ul li
{
    margin-left:4.5%;
    margin-top:1.2%;
    float:left;
    list-style:none;
    font-size:22px;
    color:white;
}
.container .info1 img
{
    float: left;
    border-top-right-radius:20%;
    border-bottom-left-radius:20%;  
}
.container p
{
    text-align: justify; 
    font-size: 22px; 
}
.container .info2 img
{
    float: right;
    border-top-right-radius:20%;
    border-bottom-left-radius:20%;  
}
.clear
{
    clear:both;
}
legend h1
{
    font-size: 50px;
}
